.add-recipient-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;

  background-color: #f6f6f6;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-recipient-form label {
  font-size: 0.9rem;
  color: #555;
}

.add-recipient-form input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: 1rem;
}

.add-recipient-form button {
  padding: 0.5rem 1rem;
  background-color: dodgerblue;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  border-radius: 4px;
}
