.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipients-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
